.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15vh;
  padding-bottom: 5vh;
}

.header h1 {
  font-family: var(--hero-title-font);
  font-size: 2.5rem;
  font-weight: 400;
  width:max-content;
  color: var(--black);
  border-bottom: 1px solid var(--black);
}

.header .date {
  padding-top: 5vh;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  color: var(--color-gray);
}

.header .message {
  font-size: 1rem;
  padding-top: 3vh;
  letter-spacing: 0.1rem;
}