.playlist {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist div {
    display: flex;
    width: 50%;
    padding: 30px;
}

.playlist img {
    width: 100%;
    border-radius: 20px; 
}