.playlist {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist div {
    display: flex;
    padding: 5px;
}

.playlist img {
    width: 100%;
    border-radius: 20px; 
}